block header
	.dlheader
		.container
			.row.dlsearcharea
				a.mobsearch(href="#")
				.dllogo.col-sm-4
					a(class="dllogo", href="/")
						img(src="../images/datalakejnj_logo.png", alt="Datalake")
				.dlsearch.col-sm-4
					.searcharea
						input.srcinput(type='text', placeholder='Search help...')
						input.srcbutt(type='button')